<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>K3y H4ck</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>K3y H4ck</h1>
        <div class="briefcase">
            <p>Pour <b>lancer</b> le piratage, assurez-vous d'être à <b>moins</b> de 50m du <b>dispositif de chiffrement</b>.</p>
        </div>
        <div id="message-container"></div>
        <button id="hackButton">Lancer le piratage</button>
        <div id="error-message" class="hidden"></div>
        <div id="loading" class="hidden">
            <div class="progress-container">
                <div id="progressBar" class="progress-bar"></div>
            </div>
        <p>Hack en cours...</p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>